# Default ignored files
/shelf/
/workspace.xml
# IntelliJ IDEA specific files
.idea/
*.iml

# Build output
/target/
/build/

# Compiled class files
*.class

# Logs
*.log

# Eclipse specific files
.project
.classpath
.settings/

# Operating system specific files
.DS_Store
Thumbs.db
